numpy~=1.26.4
pandas~=2.2.2
scikit-learn~=1.5.1
wandb~=0.18.5
kaleido
ddsketch~=3.0.1
plotly_express
matplotlib~=3.9.0
seaborn
fasteners==0.18
ray==2.43.0
PyYAML~=6.0.1
tqdm~=4.67.0
torch==2.6.0
uvicorn~=0.32.1
fastapi~=0.115.5
psutil~=5.9.8
requests~=2.32.3
plotly~=5.22.0
scipy~=1.13.1
setuptools~=59.6.0
pyinstrument
dacite
jsonlines
certifi
orjson
shapely==2.1.1
